<a href="https://colab.research.google.com/github/mahuamanc/Programacion_en_Python/blob/main/resumen/ClassCode.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Funciones Básicas

In [ ]:
5+5*60^2

307

En algunos casos necesitaremos importar algunas librerías que complementarán los análisis ó cálculos que realicemos.

In [ ]:
log(10)

In [ ]:
from math import log

In [ ]:
log(10)

2.302585092994046

La función print será muy útil para imprimir resultados de los procesos que veremos

In [ ]:
print("Hola amigos de dmc, ya estoy en python!")

Hola amigos de dmc, ya estoy en python!

In [ ]:
print("\tHola amigos de dmc, ya estoy en python!")

	Hola amigos de dmc, ya estoy en python!

In [ ]:
print("Los algoritmos que veremos son: \n\tlinear regression \n\tDecision Tree \n\tXGBoost")

Los algoritmos que veremos son:
	linear regression
	Decision Tree
	XGBoost

In [ ]:
import time

In [ ]:
time.time()

1677114134.6833987

In [ ]:
time.time()

1677114178.750511

In [ ]:
1677114178.750511 - 1677114134.6833987

44.06711220741272

In [ ]:
print(1677114178.750511 - 1677114134.6833987)

44.06711220741272

**python es un lenguaje orientado a objetos**

In [ ]:
a = 4

In [ ]:
print(a)

4

In [ ]:
a = 'esto es una línea de texto'
print(a)

esto es una línea de texto

In [ ]:
time_elapsed = 1677114178.750511 - 1677114134.6833987
print(time_elapsed)

44.06711220741272

In [ ]:
print("El tiempo de demora del proceso es de 1677114178.750511 - 1677114134.6833987 segundos")

El tiempo de demora del proceso es de 1677114178.750511 - 1677114134.6833987 segundos

In [ ]:
start = time.time()
print('proceso')
time_elapsed = time.time() - start

print(f"El tiempo de demora del proceso es de {time_elapsed} segundos")

proceso
El tiempo de demora del proceso es de 0.0011310577392578125 segundos

In [ ]:
print("Texto")

Texto

In [ ]:
print('Texto')

Texto

In [ ]:
print('John"s')

John"s

## Estructuras en Python

**Listas**

In [ ]:
my_list = [1, 2, 3, "hola", [4, 5], None]

In [ ]:
edad_dmc = [31, 29, 23, 23, 27, 25, 24, 27,24, 28, 20, 36]
edad_dmc

[31, 29, 23, 23, 27, 25, 24, 27, 24, 28, 20, 36]

In [ ]:
import numpy as np

In [ ]:
np.mean(edad_dmc)

26.416666666666668

In [ ]:
np.std(edad_dmc)

4.091827899063639

In [ ]:
my_algorithms = ['lr', 'dtree', 'rf', 'xgboost']

## iteraciones en python

In [ ]:
2**2

4

In [ ]:
3**2

9

In [ ]:
4**2

16

In [ ]:
for x in [2, 3, 4, 5]:
  print(x**2)

#Es muy importante definir la identación, porq esto indica todo lo quieren que suceda dentro ddel loop

4
9
16
25

In [ ]:
for x in my_algorithms:
  print(f"ejecutando el algotimo: {x}")
  print('proceso finalizado')

ejecutando el algotimo: lr
proceso finalizado
ejecutando el algotimo: dtree
proceso finalizado
ejecutando el algotimo: rf
proceso finalizado
ejecutando el algotimo: xgboost
proceso finalizado

In [ ]:
for x in my_algorithms:
  print(f"ejecutando el algotimo: {x}")
print('proceso finalizado')

ejecutando el algotimo: lr
ejecutando el algotimo: dtree
ejecutando el algotimo: rf
ejecutando el algotimo: xgboost
proceso finalizado

In [ ]:
#función módulo: es el residuo de dividir un número entre otro
10%3

1

In [ ]:
multiplos_3 = [0, 3, 6, 9, 12, 15, 18]

In [ ]:
for x in multiplos_3:
  print(x%3)

IndentationError: ignored

In [ ]:
6 == 6

True

In [ ]:
# == <= >= !=

In [ ]:
9%3 == 0

True

#### Ejercicio
Mediante un for imprima los números del 1 al 10 e indique si son multiplos de tres.

In [ ]:
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
  print(f"¿{x} es multiplo de 3?: {x%3 == 0}")

¿1 es multiplo de 3?: False
¿2 es multiplo de 3?: False
¿3 es multiplo de 3?: True
¿4 es multiplo de 3?: False
¿5 es multiplo de 3?: False
¿6 es multiplo de 3?: True
¿7 es multiplo de 3?: False
¿8 es multiplo de 3?: False
¿9 es multiplo de 3?: True
¿10 es multiplo de 3?: False

## if else

In [ ]:
x = 11

if x%3 == 0:
  print(f'{x} es multiplo de 3')
else:
  print(f'{x} no es multiplo de 3')

print('proceso finalizado')

11 no es multiplo de 3
proceso finalizado

In [ ]:
for x in [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]:
  if x%3 == 0:
    print(f'{x} es multiplo de 3')

3 es multiplo de 3
6 es multiplo de 3
9 es multiplo de 3

In [ ]:
for x in range(10, 31, 5):
  print(x)

10
15
20
25
30

## list comprehension

In [ ]:
[x for x in range(0,11)]

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
[x for x in range(0, 11) if x%3 == 0]

[0, 3, 6, 9]

In [ ]:
[x**2 + x for x in range(0,11)]

[0, 2, 6, 12, 20, 30, 42, 56, 72, 90, 110]

## Funciones

In [ ]:
def nombre_funcion(input1, input2):
  proceso
  return output

In [ ]:
def my_greets(name):
  """Esta función emite un saludo a la persona que ingrese su nombre."""
  greet = f"hola {name}, bienvenido al curso de dmc!, espero que aprendas mucho!"
  return print(greet)

In [ ]:
my_greets(name = "John")

hola John, bienvenido al curso de dmc!, espero que aprendas mucho!

In [ ]:
my_greets("John")

hola John, bienvenido al curso de dmc!, espero que aprendas mucho!

In [ ]:
my_greets?

In [ ]:
range?

In [ ]:
def funx_multiple(number1, number2):
  """Esta función evalúa si el number1 es múltiplo del number2"""
  if number1%number2 == 0:
    return print(f"{number1} si es múltiplo de {number2}")
  else:
    return print(f"{number1} no es múltiplo de {number2}")

In [ ]:
funx_multiple(1200, 15)

1200 si es múltiplo de 15

## PANDAS

In [ ]:
import pandas as pd

In [ ]:
pddf = pd.DataFrame({'nombre': ['Julio', 'Egiber', 'Nicolas', 'Oscar', 'Anthony'],
                     'nota': [15, 17, 14, 19, 15]})

In [ ]:
pddf['columna_nueva'] = [2, 4, 5, 7, 2]

In [ ]:
pddf['columna_nueva2'] = pddf['nota']/pddf['columna_nueva']
pddf

    nombre  nota  columna_nueva  columna_nueva2
0    Julio    15              2        7.500000
1   Egiber    17              4        4.250000
2  Nicolas    14              5        2.800000
3    Oscar    19              7        2.714286
4  Anthony    15              2        7.500000

In [ ]:
import math

In [ ]:
math.exp

In [ ]:
from math import exp

In [ ]:
pddf['col_new'] = pddf['nota'].apply(lambda x: 1/(1 + exp(-x)))
pddf

    nombre  nota  columna_nueva  columna_nueva2   col_new
0    Julio    15              2        7.500000  1.000000
1   Egiber    17              4        4.250000  1.000000
2  Nicolas    14              5        2.800000  0.999999
3    Oscar    19              7        2.714286  1.000000
4  Anthony    15              2        7.500000  1.000000